/* Add Google Font Import at the top */
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&family=Rock+Salt&display=swap');

body {
    font-family: Raleway, Arial, sans-serif;
    font-size: 22px;
    margin: 0;
    padding: 0;
    background-color: #fcfbfb;
    color: #333;
    text-align: center;
}

h2 {
    margin: 0;
}

header {
    display: flex;
    align-items: center;
    background-color: rgba(20,30,13, .7);
    padding: 10px;
}

#logo_link {
    padding-top: 5px;
    margin-left: 10px;
}

.logo {
    width: 50px; /* Make the logo smaller */
}

nav {
    display: flex;
    justify-content: flex-start; /* Align navigation to the left */
    background-color: rgba(20,30,13, .7);
    padding: 10px 0;
    margin-left: 20px;
}

nav a {
    text-decoration: none;
    color: #fcfbfb;
    padding: 35px;
    display: inline-block;
}

.home-title {
    font-family: 'Rock Salt', 'Bradley Hand', sans-serif;
    font-size: 2em;
    margin-top: 10px;
    color: #d9c2a3;
}

.book, .join {
    background-color: #333;
    color: white;
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px;
    text-decoration: none;
    border-radius: 5px;
}

.book:hover, .join:hover {
    background-color: black;
    color: #d9c2a3;
}

.msg {
    background-color: #f4f4f4;
    padding: 35px;
    line-height: 1.5em;
}

.msg p {
    font-size: 0.8em;
    padding-bottom: 15px;
}

.icon {
    padding-top: 10px;
}

.card-img {
    border: 10px solid #d9c2a3;
    display: block;
    margin: 0 auto;
}

main section img {
    box-sizing: border-box;
    display: block;
    margin: 0 auto;
}

footer {
    padding: 25px 50px;
    margin-top: 200px;
    background-color: rgba(20,30,13, .7);
    color: #d9c2a3;
} 

footer .social img {
    padding-top: 15px;
}
